.drag-and-drop-grid{
    display: grid;
    align-items: stretch;
    justify-items: stretch;
}

.icon-button-on{
    background: var(--mdc-theme-primary) !important;
    color: var(--mdc-theme-on-primary) !important;
    border-radius: 50%
}
