@import '@material/icon-button/mdc-icon-button';

.draggable-component-uneditable {
    > .react-resizable-handle{
        display: none;
    }

    > .mdc-icon-button{
        display: none;
    }

    > a {
        > .mdc-icon-button{
            display: none;
        }
    }
}

.draggable-component-editable {
    > .react-resizable-handle{
        display: none;
    }

    > .mdc-icon-button{
        display: none;
    }

    > a {
        > .mdc-icon-button{
            display: none;
        }
    }

    &:hover{
        > .react-resizable-handle{
            display: inherit;
        }
        
        > .mdc-icon-button{
            display: inherit;
        }

        > a {
            > .mdc-icon-button{
                display: inherit;
            }
        }
    }

    &.draggable-component-resizing{
        > .react-resizable-handle{
            display:inherit;
        }
    }

}

.mdc-icon-button {
    // TODO: Fix ripples being really wrong 
    &.draggable-component-close{
        position: absolute !important;
        top: 0px;
        right: 12px;
        z-index: 100;
        font-size: 12px !important;
        width: 12px;
        height: 12px;
        padding: 6px;


    }
    
    &.draggable-component-settings{
        position: absolute !important;
        top: 0px;
        right: 32px;
        z-index: 100;
        font-size: 12px !important;
        width: 12px;
        height: 12px;
        padding: 6px;

        //@include mdc-icon-button-size(12px);

    }
}
