.card-component{
    overflow: hidden;

    height:100%;
    padding: 16px;

    .mdc-typography--body2{
        margin: 0px
    }

    .mdc-typography--headline6{
        margin: 0px
    }
}

.card-location-date{
    display: flex;
    justify-content: space-between;
}

.card-date-text{
    display:flex;
    justify-content: flex-end;
    flex-wrap: wrap;

    .material-icons{
        font-size: 0.875rem;
    }
}

.card-date-divider{
    flex-grow: 0;
    flex-basis: 4px;
    margin: 0px 2px;
    flex-shrink: 10;
}
