.entry {
    margin: 8px;
    min-height: 54px;


    &.entry-contracted{
        .entry-expanded-content{
            max-height: 0px;

        }
    }

    &.entry-expanded{
        .entry-expanded-content{
            max-height: 400px;
        }
    }

    .mdc-card__primary-action{
        padding: 0px 8px;
        --mdc-ripple-fg-scale:1.84 !important;
        --mdc-ripple-fg-translate-end: 141.297px, -60.5px !important;
    }
};

.entry-expanded-content{
    transition: max-height 0.25s ease-in;

    font-size: 1em;

    display:flex;
    justify-content: space-between;

}

.entry-main-content{
    width:100%;
    height:62px;
    margin:0px;
    font-size: 1.5em;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
};


