.floating-resume-settings{
    position: fixed;
    z-index: 999;
    right: 0;
    top: 40%;
    background: var(--mdc-theme-primary);
    color: var(--mdc-theme-on-primary);
    box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%), 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);

    display:flex;
    flex-direction: column;
    border-radius: 8px 0 0 8px;

    .rmwc-icon{
        margin: 12px 24px 12px 12px;
        font-size: 36px;
    }
    .rmwc-circular-progress{
        margin: 12px 24px 12px 12px;
        font-size: 36px;
    }

    &:hover{
        .floating-resume-setting{
            .floating-resume-setting-text{
                width: 168px;
                color: var(--mdc-theme-on-primary);
            }
        }
    }

}
.floating-resume-setting{
    padding: 8px 0px 8px 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background 0.15s linear;

    &:hover{
        background: var(--mdc-theme-text-icon-on-background)
    }

    &:first-child{
        border-radius: 8px 0 0 0px;
    }

    &:last-child{
        border-radius: 0 0 0 8px;
    }
}

.floating-resume-setting-disabled{
    color: var(--mdc-theme-text-disabled-on-dark)
}

.floating-resume-setting-text{
    transition-property: color, width;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(.87,.2,.32,.96);
    color: rgba(0, 0, 0, 0);
    width: 0px;
}
